/* Estilos gerais */
:root {
	--branco: white;
	--cor-de-fundo: #00162E;
	--fundo-senha: #00244D;
	--fundo-texto: #001E40;
	--borda: #0075FF;
}

body {
	font-family: Arial, sans-serif;
	background-color: #102040;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.container {
	background-color: #192a56;
	border-radius: 10px;
	width: 700px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	padding: 15px;
}

h1 {
	font-size: 24px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.password-output input {
	width: 850px;
	height: 50px;
	padding: 15px;
	border: none;
	font-size: 16px;
	background-color: var(--fundo-senha);
	color: #FFF;
}

.line {
	background-color: #007bff;
	width: 100%;
	height: 2px;
	margin-bottom: 20px;
}

.container {
	display: flex;
	flex-direction: row;
	height: 300px;
	width: 850px;
	border-radius: 0;
	border: 1px solid var(--borda);
}

.password-settings h2 {
	margin: 20px;
	font-size: 20px;
}

.left {
	display: flex;
	flex-direction: column;
}

.left label {
	font-size: 20px;
}

.left h2 {
	margin-top: 40px;
}

.middle {
	width: 300px;
	padding: 10px;
	padding-top: 80px;
}

.middle h2 {
	transform: translate(-20px);
}

.right {
	margin-top:80px;
}

.right p{
	background-color: var(--fundo-senha);
	padding: 5px;
}

.length-control {
	display: flex;
	align-items: center;
	padding: 10px;
	margin-bottom: 15px;
}

.length-control span {
	border: 2px solid var(--borda);
	padding: 15px 15px;
	font-size: 20px;
}

.length-control div {
	display: flex;
	align-items: center;
}

.length-control button {
	background-color: transparent;
	color: #fff;
	border: 2px var(--borda) solid;
	padding: 16px 18px;
	cursor: pointer;
	font-size: 19px;
}

.left label {
	transform: translate(10px,10px);
}

.buttons {
	transform: translate(70px,70px);
}

.checkbox-group {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.checkbox-group input {
	margin-right: 10px;
}

.strength {
	margin-top: 20px;
}

#strength-indicator {
	font-size: 16px;
	color: #ffbf00;
}

#generate {
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
	width: 100%;
}

#generate:hover {
	background-color: #0056b3;
}
